<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido profesor Lucas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-list class="section-list">
    <ion-list-header>
      <ion-label>Secciones</ion-label>
    </ion-list-header>

    <ion-item class="section-item">
      <ion-button expand="full" (click)="openSection('011')">Sección 011</ion-button>
    </ion-item>

    <ion-item class="section-item">
      <ion-button expand="full" (click)="openSection('012')">Sección 012</ion-button>
    </ion-item>

    <ion-item class="section-item">
      <ion-button expand="full" (click)="openSection('013')">Sección 013</ion-button>
    </ion-item>

    <ion-item class="section-item">
      <ion-button expand="full" (click)="openSection('014')">Sección 014</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

