ion-content {
    --background: #f4f4f4;
  }
  
  .centered-container {
    padding: 16px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: 600;
  }
  
  p {
    font-size: 1em;
    color: #6e6e6e;
  }
  
  .info-text {
    font-size: 0.9em;
    color: #909090;
  }
  
  ion-card {
    margin-top: 20px;
  }
  
  ion-button {
    margin-top: 20px;
    --background: #3880ff;
    --border-radius: 10px;
  }
  
  ion-input {
    --padding-start: 10px;
  }
  #imgDuoc{
    width: 38vh;
    padding-top: 2%;
    padding-left: 5%;
    display: block;
    margin: auto;
}