<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido a Registrapp</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="custom-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit">Iniciar sesión</ion-button>
      </form>
  
      <ion-item lines="none" class="forgot-password">
        <ion-label (click)="recoverPassword()" class="clickable-text">¿Olvidaste tu contraseña?</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <img src="assets/img/duocuc-1.png" alt="Duoc" id="imgDuoc">
</ion-content>
