<ion-header >
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header >
    <ion-toolbar>
      <ion-title size="large">Cursos</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    
    <ion-item>
      <ion-label>Calidad de Software</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Estadistica descriptiva</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Proceso De Portafolio</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Programación de aplicaciones moviles</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
