<ion-header class="header-toolbar">
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <ion-header class="courses-header">
    <ion-toolbar>
      <ion-title size="large">Cursos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="courses-list">
    <ion-item>
      <ion-label>Calidad de Software</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Estadística Descriptiva</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Proceso De Portafolio</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Programación de Aplicaciones Móviles</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
