// Estilos para el header
.header-toolbar {
  --background: #012C56; // Fondo azul oscuro
  --color: #FFFFFF; // Texto blanco
}



ion-content {
    --background: #FFB71B; /* Fondo amarillo para el contenido */
  }
  
  .custom-header {
    --background: #012C56; /* Color azul oscuro para la barra de herramientas */
    --color: #FFB71B; /* Color amarillo para el texto */
    border-bottom: 2px solid #FFB71B; /* Línea inferior en color amarillo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para un efecto de profundidad */
  }
  
  .courses-header {
    --background: #012C56; /* Color azul oscuro para el encabezado de los cursos */
    --color: #FFB71B; /* Color amarillo para el texto */
    border-bottom: 2px solid #FFB71B; /* Línea inferior en color amarillo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para el encabezado */
  }
  
  .courses-list {
    background: #012C56; /* Fondo azul para la lista */
    border-radius: 12px; /* Bordes redondeados para el contenedor de la lista */
    padding: 16px; /* Espaciado interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para el contenedor de la lista */
    margin-top: 16px; /* Espaciado superior */
  }
  
  ion-list {
    border-radius: 12px; /* Bordes redondeados para el contenedor de la lista */
    overflow: hidden; /* Asegura que los bordes redondeados se apliquen a los elementos hijos */
  }
  
  ion-item {
    --background: #012C56; /* Fondo azul para cada item de la lista */
    --color: #FFB71B; /* Color amarillo para el texto en cada item */
    --border-color: #ddd; /* Color del borde para los items de la lista */
    --border-width: 1px; /* Ancho del borde para los items de la lista */
    border-radius: 8px; /* Bordes redondeados para cada item de la lista */
    margin-bottom: 8px; /* Espaciado entre items */
  }
  

  ion-content.custom-content {
    --background: #FFB71B; /* Fondo amarillo para el contenido */
  }
  
  .courses-header {
    --background: #012C56; /* Fondo azul oscuro para el encabezado */
    --color: #FFB71B; /* Color amarillo para el texto del encabezado */
    border-bottom: 2px solid #FFB71B; /* Línea inferior en color amarillo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra ligera para un efecto de profundidad */
  }
  
  .courses-header ion-toolbar {
    --background: #012C56; /* Fondo azul oscuro para el toolbar */
    --color: #FFB71B; /* Color amarillo para el texto en el toolbar */
  }
  
  .courses-header ion-title {
    color: #FFB71B; /* Color amarillo para el título */
  }
  