<ion-header>
  <ion-toolbar>
    <ion-title>Listado de Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-list>
    <ion-list-header>
      <ion-label>Alumnos</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let alumno of alumnos">
      <ion-label>{{ alumno.nombre }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="goToGenerateQR()">GENERAR QR</ion-button>
  <ion-button expand="full" (click)="goToGenerateReport()">GENERAR REPORTE</ion-button>



</ion-content>


